@media (min-width: 280px) and (max-width: 991.98px){
    .header .header_wrapper .hamburger_btn span {
        display: none;
    }
    .header .header_wrapper .logo{
        margin-left: 10px;
    }
    .header .header_wrapper .logo img {
        max-height: 60px;
    }
    .header .header_wrapper .hamburger_btn {
        margin-left: 10px;
    }
    .header_wrapper .text-center{
     text-align: start !important;
    }
    .hero .hero_slider {
        height: 60vh;
    }
    .hero .hero_slider h2 {
        font-size: 28px;
        padding-bottom: 40px;
        line-height: 38px;
    }
    .offcanvas .offcanvas-body ul li a {
        font-size: 24px;
    }
    .offcanvas .offcanvas-body .offcan_bottom {
        padding-top: 50px;
    }
    .about {
        padding: 60px 0 100px 0;
    }
    .about .about_wrapper .about_right h2 {
        font-size: 45px;
        line-height: 60px;
        text-align: center;
    }
    .about .about_wrapper .about_right{
        padding-top: 20px;
    }
    .about .about_wrapper .about_bottom_content {
        padding: 20px 0px;
    }
    .gallery_slider {
        padding-left: 15px;
        padding-right: 15px;
    }
    .sec_header h2 {
        font-size: 24px;
        font-weight: 400;
    }
    .gallery_slider .swiper-button-next {
        height: 50px;
        width: 50px;
    }
    .gallery_slider .swiper-button-prev {
        height: 50px;
        width: 50px;
    }
    .gallery_slider .swiper-slide {
        width: 40%;
        height: 320px;
    }
    .common_section .common_section_wrapper h4 {
        font-size: 38px;
        line-height: 52px;
        margin: 20px 0;
        word-wrap: break-word;
    }
    .common_section .common_section_wrapper p {
        padding: 0 0px;
    }
    .amenities_slider {
        padding-left: 15px;
        padding-right: 15px;
    }
    .amenities_slider .swiper-slide {
        width: 40%;
        height: 340px;
    }
    .video_section {
        padding: 0px 0;
    }
    .common_section_two h4 {
        font-size: 28px;
        line-height: 42px;
    }
    .common_section_two_wrapper {
        padding-top: 30px;
    }
    .common_section_text {
        padding-top: 25px;
    }
    .common_section_two_wrapper .common_section_text ul li a {
        font-size: 35px;
        line-height: 48px;
    }
    .common_section_two_wrapper .common_section_text h2 {
        font-size: 34px;
        line-height: 50px;
    }
    .footer .fotter_main .footer_wrapper .footer_wrap .footer_logo {
        display: flex;
        justify-content: center;
    }
    .footer .fotter_main .footer_wrapper {
        padding: 60px 0 40px 0;
    }
    .footer .fotter_main .footer_bottom {
        padding: 20px 0;
        display: list-item;
        list-style: none;
        text-align: center;
    }
    .common_hero .hero_slider {
        height: 220px;
    }
    .common_hero .page_name {
        bottom: 30px;
        font-size: 26px;
    }
    .mission .mission_wrapper {
        margin-top: -100px;
    }
    .mission .mission_wrapper .misson_card {
        height: 270px;
        margin-bottom: 25px;
    }
    .member {
        padding: 40px 0;
    }
    .member .member_wrapper .mamber_text {
        text-align: center;
    }
    .member .member_wrapper_item .mamber_item {
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .contact_wrapper {
        max-width: 100%;
        padding: 40px 20px;
    }
    .contact_wrapper .contect_info ul {
        padding-left: 0px;
        margin-bottom: 20px;
    }
}