.amenities{
    padding: 150px 0 0 0 ;
    .amenities_wrapper{

    }
}

.amenities_slider{
    position: relative;
    padding-left: 7%;
    margin-top: 50px;
    .swiper-button-next{
        height: 55px;
        width: 55px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -100px;
        &::after{
            font-size: 22px;
            color: #333;
        }
        &:hover{
            background-color: $primaryColor;
        }
        &:hover::after{
            color: #fff;
        }
    }
    .swiper-button-prev{
        height: 55px;
        width: 55px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: auto;
        right: 100px;
        top: -100px;
        &::after{
            font-size: 22px;
            color: #333;
        }
        &:hover{
            background-color: $primaryColor;
        }
        &:hover::after{
            color: #fff;
        }
    }
    .swiper-button-disabled{
        opacity: .7;
    }
    .swiper-pagination{
        bottom: -40px;
        .swiper-pagination-bullet {
            background-color: #fff;
        }
    }
    .swiper-slide {
        width: 40%;
        height: 480px;
        max-width: 780px;
        transition: opacity 0.3s;
        // opacity: 0.6;
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid #c3c3c331;
        .amenities_slider_item{
            height: 100%;
            width: 100%;
            position: relative;
            cursor: pointer;
            &:hover img{
                transform: scale(1.1);
                transition: all 0.8s ease-in-out;
            }
            &:hover .amenities_overly{
                height: 100%;
                width: 100%;
                border-radius: 0px;
                transition: all 0.8s ease-in-out;
                background: rgba(0,0,0,0.4);
                opacity: 1;
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .amenities_overly{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                // background-color: rgba(0,0,0,0.3);
                height: 60px;
                width: 60px;
                background: #0b0b0b4b;
                border-radius: 50%;
                opacity: 0;
                padding: 40px;

                ul{
                    li{
                        border-bottom: 1px solid #f5f5f54b;
                        margin-bottom: 12px;
                        font-size: 15px;
                        color: #fff;
                        padding-bottom: 8px;
                        &:hover{
                            padding-left: 12px;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
            .amenities_overly_content{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 20px;
                h4{
                    font-size: 26px;
                    color: #fff;
                }
            }
        }
    }
}

